/*Colors*/
.intro img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', sans-serif;
  color: #0B233F;
}

p {
  color: #0B233F;
}

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.img__custom-width {
  max-width: 100%;
}

.main__button {
  text-transform: uppercase;
  font-size: 15px;
  color: #0B233F;
  padding: 12px 25px;
  background: #FF8F80;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main__button:hover {
  text-decoration: none;
  background: #FFC4BD;
}

.header {
  background-color: #0B233F;
  padding: 25px 0;
}

.header__list {
  font-size: 16px;
  list-style: none;
}

.header__list-item {
  margin-left: 15px;
  z-index: 10;
}

.header__list-link {
  color: #FF8F80;
  text-decoration: none;
  position: relative;
}

.header__list-link:hover {
  text-decoration: none;
  color: #ff351a;
}

.header__list-link::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FF8F80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__list-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-animation-name: show_header;
          animation-name: show_header;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.intro {
  background: #0B233F;
  color: #ffffff;
  position: relative;
  padding-bottom: 60px;
}

.intro-team {
  min-height: 100vh;
  padding-top: 100px;
  background: #0B233F url("../img/team/pattern-team.png") no-repeat bottom -80px right -50px;
}

.intro-join-us {
  background: #0B233F;
}

.intro__head {
  font-size: 60px;
  margin-bottom: 20px;
  color: #ffffff;
}

.intro__text {
  max-width: 370px;
  color: #ffffff;
}

.intro__patern {
  position: absolute;
  top: -92px;
  right: 0;
}

.intro__patern-first-job {
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro__dots-next-job {
  position: absolute;
  bottom: -45px;
  left: -45px;
}

.intro__dots-ventures {
  position: absolute;
  bottom: 0;
  right: 0;
}

.intro__button {
  margin-top: 40px;
}

.describe {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 130px;
  position: relative;
}

.describe__head {
  font-size: 30px;
  margin: 30px 0 15px;
}

.describe__text {
  font-size: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.describe__lines {
  position: absolute;
  top: -80px;
  right: 0;
}

.section {
  position: relative;
  margin-bottom: 190px;
}

.section__sand {
  position: absolute;
  top: 0;
  left: 5%;
}

.section__sand-right {
  position: absolute;
  top: 0;
  right: 5%;
}

.section__sand-right-advice {
  top: 7%;
}

.section__desc {
  color: #FF8F80;
  font-size: 18px;
  margin-top: 80px;
  display: block;
}

.section__head {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 10;
}

.section__button {
  text-transform: uppercase;
  font-size: 15px;
  color: #0B233F;
  padding: 15px 25px;
  border: 3px solid #FF8F80;
  font-weight: bold;
  margin-top: 70px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
}

.section__button:hover {
  text-decoration: none;
  border-color: #FFC4BD;
}

.section__ventures {
  margin-bottom: 120px;
}

.section__ventures-image {
  margin-top: -50px;
}

.section__advice-desc {
  margin-top: 0;
}

.section__advice-image {
  margin-left: -20px;
}

.section__team {
  background: #BB945B url(../img/pattern-bot.png) no-repeat center center/cover;
  text-align: center;
  position: relative;
}

.section__team-desc {
  display: block;
  color: #0B233F;
  font-size: 18px;
  margin-top: 110px;
}

.section__team-head {
  font-size: 50px;
  color: #ffffff;
  margin-top: 25px;
}

.section__team-text {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 150px;
  margin-top: 30px;
  max-width: 550px;
  line-height: 28px;
}

.section__team-ellipse {
  position: absolute;
  bottom: -32px;
  left: 45px;
}

.section__principles {
  text-align: center;
  color: #0B233F;
  margin-top: 70px;
}

.section__principles-item {
  text-align: center;
  margin-top: 70px;
}

.section__principles-title {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.section__principles-text {
  min-height: 200px;
}

.section__principles-circles {
  position: absolute;
  bottom: -215px;
  left: 500px;
  z-index: 10;
}

.section__principles-lines {
  position: absolute;
  right: 0;
  top: 60%;
}

.section__process {
  margin-bottom: 100px;
}

.section__process-line {
  position: absolute;
  left: 50%;
  top: 150px;
}

.section__process-head {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 210px;
}

.section__process-title {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.section__process-text {
  margin-left: 30px;
  margin-bottom: 150px;
}

.section__process-text-journey {
  margin-bottom: 190px;
}

.section__process-icon {
  margin-top: -50px;
}

.section__process-icon-right {
  margin-left: 25px;
}

.section__process-ellipse {
  position: absolute;
  bottom: -135px;
  right: 5%;
  z-index: 10;
}

.section__members {
  background: #BB945B;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  margin-bottom: 0;
}

.section__members-icon {
  display: inline-block;
  margin-right: 25px;
}

.section__members-row1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.section__members-dots {
  position: absolute;
  left: -12px;
  bottom: -51px;
}

.section__clients {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
  margin-bottom: 0;
}

.section__clients-icon {
  display: inline-block;
  margin-right: 25px;
}

.section__clients-row1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.section__faqs {
  background: #D5D0CA;
  padding: 100px 0;
  margin-bottom: 0;
  position: relative;
}

.section__faqs-head {
  text-align: center;
  padding-bottom: 85px;
}

.section__faqs-title {
  font-size: 30px;
}

.section__faqs-list {
  list-style: disk;
  margin-left: 80px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section__faqs-list h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section__faqs-list p {
  font-size: 18px;
}

.section__faqs-list-active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 50px;
  line-height: 30px;
}

.section__faqs-lines {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.section__faqs-button {
  width: 37px;
  height: 37px;
  border-radius: 100px;
  border: 2px solid #FF8F80;
  position: relative;
  margin-right: 20px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section__faqs-button-active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section__faqs-button-active::after {
  content: '';
  display: none;
}

.section__faqs-button-active::before {
  content: '';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section__faqs-button::after {
  content: '';
  height: 2px;
  width: 20px;
  background-color: #FF8F80;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  border-radius: 3px;
}

.section__faqs-button::before {
  content: '';
  height: 20px;
  width: 2px;
  background-color: #FF8F80;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -1px;
  border-radius: 3px;
}

.section__investment {
  background: #C5DEE3;
  padding: 100px 0 120px;
  position: relative;
  margin-bottom: 0;
}

.section__investment-head {
  text-align: center;
  margin-bottom: 90px;
}

.section__investment-icon {
  margin-bottom: 30px;
}

.section__investment-text {
  z-index: 20;
  margin: 30px auto 0;
  max-width: 400px;
}

.section__investment-pattern {
  position: absolute;
  bottom: -100px;
  left: 0;
}

.section__companies {
  margin-top: 100px;
  margin-bottom: 120px;
}

.section__companies-head {
  font-size: 40px;
}

.section__companies-text {
  margin-top: 30px;
  margin-bottom: 50px;
}

.section__companies-block {
  background: url("../img/ventures/border.png") no-repeat left top;
}

.section__companies-block-right {
  background: url("../img/ventures/border.png") no-repeat right;
}

.section__companies-desc {
  margin-left: 7%;
  margin-bottom: 100px;
}

.section__companies-desc-right {
  margin-right: 3%;
  margin-left: 0;
}

.section__companies-title {
  margin-top: 80px;
}

.section__companies-portrait {
  z-index: 99;
  display: block;
}

.section__advice {
  text-align: center;
  margin: 0;
  padding: 120px 0;
}

.section__advice-text {
  max-width: 700px;
  margin: auto;
}

.section__squad {
  margin-bottom: 100px;
}

.section__squad-wrap {
  position: absolute;
  left: 50%;
  top: -300px;
}

.section__squad-image {
  widows: 130%;
  position: relative;
  left: -50%;
  top: 0;
}

.section__squad-block {
  max-width: 580px;
  text-align: center;
  margin: 400px auto 0;
}

.section__squad-text {
  margin-bottom: 40px;
}

.section__values {
  background: #C5DEE3 url("../img/team/pattern-values.svg") no-repeat center center;
  margin-bottom: 0;
}

.section__values-head {
  text-align: center;
  padding-top: 80px;
  margin: 0 0 70px 0;
}

.section__values-block {
  max-width: 190px;
  text-align: center;
  margin: auto;
}

.section__values-title {
  margin-top: 25px;
  margin-bottom: 115px;
}

.section__values-lines {
  display: block;
  position: absolute;
  left: 0;
  top: -30%;
}

.section__values-circle {
  position: absolute;
  right: 5%;
  bottom: -13%;
  z-index: 10;
}

.section__hq-team {
  margin-bottom: 100px;
}

.section__hq-team-head {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 70px;
}

.section__hq-team-block {
  background: #d5d0ca85;
  height: 500px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 25px;
  border-radius: 5px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section__hq-team-name {
  font-size: 30px;
  margin: 20px;
}

.section__hq-team-text {
  margin-left: 20px;
  margin-bottom: 50px;
}

.section__hq-team-link {
  padding: 8px;
  border: 2px solid #FF8F80;
  border-radius: 100px;
  display: inline-block;
  font-size: 18px;
  color: #000000;
  position: absolute;
  left: 6%;
  bottom: 2.5%;
}

.section__hq-team-link-mail {
  left: 25%;
}

.section__ambassadors {
  margin-bottom: 130px;
}

.section__ambassadors-head {
  text-align: center;
  margin-bottom: 70px;
}

.section__ambassadors-block {
  min-width: 174px;
  height: 334px;
}

.section__ambassadors-name {
  font-size: 17px;
  font-weight: bold;
  margin: 15px 0 0 15px;
}

.section__ambassadors-text {
  font-size: 14px;
  margin: 10px 0 20px 15px;
}

.section__openings {
  margin-bottom: 0;
}

.section__openings-wrap {
  margin-top: -200px;
  padding: 80px 0;
  background: #f7f7f7;
}

.section__openings-head {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section__openings-btn {
  display: block;
}

.section__openings-button {
  text-align: center;
  margin: 50px auto;
  max-width: 180px;
  display: block;
}

.section__openings .row {
  margin-bottom: 20px;
}

.section__openings-list {
  list-style: disk;
  margin-left: 80px;
}

.section__openings-list h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section__openings-list p {
  font-size: 18px;
}

.footer {
  background: #0B233F;
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
}

.footer-info {
  font-size: 15px;
  color: #ffffff;
  line-height: 27px;
}

.footer-info-mail {
  display: block;
  color: #FF8F80;
  margin-top: 8px;
}

.footer-invite {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 100px;
  line-height: 25px;
}

.footer__button {
  margin-top: 10px;
}

.footer__socials {
  color: #FF8F80;
}

.footer__socials-link {
  color: #FF8F80;
  margin-right: 10px;
}

.footer__socials-link:hover {
  color: #ff624d;
}

.footer::after {
  content: '';
  height: 2px;
  background: #C5DEE3;
  width: 100%;
  position: absolute;
  top: 240px;
  left: 0;
}

.footer__link {
  font-size: 15px;
  color: #ffffff;
}

.footer__link:hover {
  text-decoration: none;
  color: #FF8F80;
}

/*Responsive*/
/*992-1200px*/
/*768-992px*/
/*576-768px*/
@media (max-width: 768px) {
  body {
    display: none;
  }
}

/*320-576px*/
@media (max-width: 576px) {
  body {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
